/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 4.5rem;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --secondary-white: #FBFBFB;
    --bg-main: #141922;
    --bg-footer: #282828;
    --account-grey: #808080;
    --footer-grey: #878787;
    --dark-grey: #7D7F84;
    --mid-grey: #717171;
    --grey: #A3A3A3;
    --light-grey: #D2D2D2;
    --active-green: #ADFF2F;
    --range-bar: #5A5A5A;
    --ranged-bar: #C1C1C1;
}


/* #endregion common */


/* #region utility */

.d-flex {
    display: flex;
}

.m-b30 {
    margin-bottom: 30px;
}

.m-t20 {
    margin-top: 20px;
}

.p-l-17 {
    padding: 0 17px;
}

.p-lr-20 {
    padding: 0 20px;
}

.white {
    color: var(--white);
}

.radius {
    border-radius: 50%;
}


/* #endregion utility */


/* #region main */

#site_main {
    background: linear-gradient(#585d58, #121212);
    width: 100%;
    height: calc(100vh - 90px);
}


/* #region aside */

.aside-left {
    background-color: var(--black);
    font-size: 0.81rem;
    width: 227px;
    height: 100%;
    flex-direction: column;
    position: relative;
    transition: 1s;
}

.aside-left h3 {
    color: var(--white);
    font-size: 1rem;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.aside-left span {
    color: var(--mid-grey);
    margin-left: 0.56rem;
    text-transform: capitalize;
}


/* #region left-nav */

.left-home img {
    color: var(--light-grey);
    animation: here 10s ease infinite;
}

@keyframes here {
    5% {
        transform: scale(1.2);
    }
    7% {
        transform: rotate(-20deg) scale(1.2);
    }
    9% {
        transform: rotate(20deg) scale(1.2);
    }
    11% {
        transform: rotate(0deg) scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.aside-left>.logo>.logo-img {
    width: auto;
    height: 2.5rem;
    background-image: url(./../../assets/img/logo.svg);
    background-repeat: no-repeat;
    animation: bounce 5s ease infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0%);
    }
    5% {
        transform: translateY(-15%);
    }
    10% {
        transform: translateY(0%);
    }
    15% {
        transform: translateY(-7%);
    }
    20% {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(-3%);
    }
    100% {
        transform: translateY(0%);
    }
}

.left-nav {
    flex-direction: column;
}

.left-nav img {
    width: auto;
    height: 1.375rem;
}

.left-nav a {
    margin-bottom: 0.81rem;
    align-items: center;
    text-decoration: none;
}


/* #region hover */

.aside-left a:hover {
    color: white;
    filter: brightness(2);
}

.left-nav a:hover {
    color: white;
    filter: brightness(50);
}

.left-nav a.plus:hover {
    filter: brightness(2);
}

.instal a:hover {
    filter: brightness(50);
}


/* #endregion hover */


/* #endregion left-nav */


/* #region playlist */

.btn-aside,
.playlist {
    flex-direction: column;
    text-transform: capitalize;
}

.btn-aside a,
.playlist a {
    color: var(--mid-grey);
    text-decoration: none;
}

.btn-aside>.plus,
.btn-aside>.like {
    align-items: center;
    margin-bottom: 23px;
}

.btn-aside>.like {
    padding: 0 0 23px;
    border-bottom: 1px outset var(--grey);
}

.btn-aside .plus-false {
    margin: 0;
    background-color: var(--grey);
    color: black;
    font-size: 1.875rem;
    padding: 0px 10px;
}

.btn-aside .liked {
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHVycGxlJTIwZ3JhZGllbnR8ZW58MHx8MHx8&w=1000&q=80);
    background-size: cover;
    color: var(--grey);
    font-size: 1.2rem;
    padding: 7px 9px;
}

.playlist {
    overflow: auto;
}

.name-playlist {
    margin-bottom: 26px;
}


/* #endregion playlist */


/* #region user */

.user {
    margin-top: auto;
    padding-bottom: 20px;
}

.user .instal a>i {
    color: var(--mid-grey);
    border: 1px solid var(--mid-grey);
    border-radius: 50%;
    padding: 3px 3px 1px
}


/* #endregion user */


/* #endregion aside */


/* #region container */

.container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.container a {
    color: var(--dark-grey);
}


/* #region playlist-track */

.playlist-album {
    background: linear-gradient(#7a847a, #404440);
    height: 345px;
    padding: 15px 30px 30px;
    position: relative;
    flex-direction: column;
}

.lateral-bar {
    width: 15px;
    height: 98%;
    background-color: #b1b6b1;
    position: absolute;
    top: 3px;
    right: 3px;
}

.navigation-playlist {
    justify-content: space-between;
    align-items: center;
}

.navigation-playlist a {
    color: white;
}

.navigation-playlist .change-album i {
    font-size: 1.5rem;
    padding: 5px 10px;
    background-color: #2b2d2b;
    border-radius: 50%;
    margin-right: 10px;
}

#bg-lighter {
    background-color: #505450;
}

.btn-nav a {
    background-color: #2b2d2b;
    margin-left: 10px;
    border-radius: 20px;
    margin: 0 10px;
}

.upgrade {
    padding: 4px 30px;
    font-size: 0.9rem;
    border: 1px solid white;
}

.account {
    padding: 6.5px 3px;
    font-size: 0.8rem;
}

.user-icon {
    height: 20px;
    border-radius: 50%;
    background-color: grey;
    vertical-align: top;
}

.account span:last-child {
    font-size: 1rem;
    vertical-align: bottom;
    margin: 5px;
}

.listening {
    height: 100%;
    align-items: flex-end;
    column-gap: 30px;
}

.album-listening img {
    max-height: 225px;
    box-shadow: 0 0 20px 0px #1d1c1c;
}

.title-listening.d-flex {
    flex-direction: column;
    row-gap: 15px;
    color: white;
}

.user-small {
    font-size: .9rem;
    font-weight: 600;
}

.user-small span {
    color: #c5cdc5;
}

.playlist-track {
    padding: 50px 15px 0;
    flex-direction: column;
}

.track-top {
    margin-bottom: 40px;
}

.track-top i {
    font-size: 1.5rem;
    color: black;
    padding: 20px 23px;
    background-color: #1ed760;
    border-radius: 50%;
}

.track-top span {
    font-size: 2rem;
    letter-spacing: -3px;
    margin-left: 30px;
}


/* track-bottom */

.track-bottom {
    height: 100%;
    padding-left: 24px;
    flex-direction: column;
}

.general-info {
    color: #c5cdc5;
    font-size: 0.9rem;
    width: 100%;
    border-bottom: 1px solid #c5cdc5;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.track-bottom .number {
    width: 2%;
}

.track-bottom .title {
    width: 38%;
}

.track-bottom .title img {
    width: auto;
    height: 50px;
    margin-right: 10px;
}

.track-bottom .album {
    width: 30%;
}

.track-bottom .date {
    width: 20%;
}

.track-bottom .timer {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.songs {
    height: 300px;
    overflow: auto;
}

.next-song {
    color: #b3b3b3;
    font-size: 0.8rem;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
}

.next-song h4 {
    color: white;
}

.next-song i {
    color: #1ed760;
    margin-right: 10px
}

.author {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* #endregion playlist-track */


/* #endregion container */


/* #endregion main */


/* #region footer */

#site_footer {
    background-color: var(--bg-footer);
    width: 100%;
    height: 90px;
    padding: 0 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    justify-content: flex-end;
    align-items: center;
    column-gap: 8%;
}


/* #region input-track */

.input-track {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.player {
    color: var(--white);
    column-gap: 22px;
    font-size: 1rem;
    align-items: center;
}

.player i {
    color: var(--white);
}

.player .play i {
    font-size: 1.88rem;
    margin: 0 10px;
    transition: 0.5s;
}

.time {
    align-items: center;
}

.time span {
    font-size: 0.625rem;
}

.timeline {
    width: 100%;
    position: absolute;
}

.time input {
    width: 580px;
    margin: 0 28px;
}

.right-menu {
    /* margin-left: auto; */
}

.right-menu i {
    color: var(--white);
    margin-right: 18px;
    font-size: 13px;
}

.right-menu input {
    width: 150px;
}

.range {
    width: 100%;
    height: 4px;
    -webkit-appearance: none;
    background: #5A5A5A;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 10 10 10px rgba(0, 0, 0, 1);
    align-self: center;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border: 4px solid transparent;
    box-shadow: -407px 0 0 400px #C1C1C1;
}

.range::-webkit-slider-runnable-track .right-menu {
    height: 100%;
    padding-right: 10px;
    align-items: center;
}

.range:hover::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 0px solid transparent;
    box-shadow: -400px 0 0 400px #10b510;
}


/* #endregion input-track */


/* #region hover */

.left-album a:hover {
    color: var(--white);
    filter: brightness(2);
}

.range:hover::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 0px solid transparent;
    box-shadow: -400px 0 0 400px var(--active-green);
}

.player a.play:hover i {
    transform: scale(1.2);
}


/* #endregion hover */


/* #endregion footer */

@media screen and (min-width: 1800px) {
    .time input {
        width: 900px;
    }
    .upgrade,
    .nav-content,
    .container-card>section {
        max-width: 2000px;
    }
    #site_footer {
        max-width: 2210px;
    }
}

@media screen and (min-width: 1500px) {
    .time input {
        width: 700px;
    }
    .right-menu input {
        width: 200px;
    }
}

@media screen and (min-width: 1800px) {
    .time input {
        width: 900px;
    }
}

@media screen and (max-width:1200px) {
    .time input {
        width: 550px;
        margin: 0 20px;
    }
    .right-menu input {
        width: 100px;
    }
}

@media screen and (max-width:1100px) {
    .time input {
        width: 500px;
        margin: 0 20px;
    }
    .right-menu input {
        width: 80px;
    }
}

@media screen and (max-width:1000px) {
    .time input {
        width: 350px;
        margin: 0 20px;
    }
    .right-menu input {
        width: 80px;
    }
}

@media screen and (max-width:800px) {
    .player {
        color: var(--white);
        column-gap: 15px;
        font-size: 1rem;
        align-items: center;
    }
    .time input {
        width: 200px;
        margin: 0 20px;
    }
    .right-menu input {
        width: 65px;
    }
}


/* @media screen and (max-width:768px) {} */

@media screen and (max-width:660px) {
    .player {
        font-size: 1rem;
        align-items: center;
    }
    .time input {
        width: 160px;
        margin: 0 10px;
    }
    .right-menu input {
        width: 70px;
    }
    .right-menu i {
        margin-right: 10px;
    }
}


/* @media screen and (max-width:568px) {} */

@media screen and (max-width:540px) {
    .time input {
        width: 110px;
        margin: 0 10px;
    }
    .right-menu input {
        width: 60px;
    }
}

@media screen and (max-width:480px) {
    .p-l-17 {
        padding: 0;
    }
    .p-lr-20 {
        padding: 0;
    }
    .m-b30 {
        margin-bottom: 5px;
    }
    .m-t20 {
        margin-top: 0;
    }
    .aside-left {
        width: 50px;
        height: 100%;
        transition: 1s;
        padding: 10px;
        align-items: center;
    }
    .aside-left>.logo>.logo-img {
        width: 1.5rem;
        height: 1.5rem;
        background-image: url(./../../img/logo-small.svg);
        margin-bottom: 15px;
    }
    .left-nav span {
        display: none;
    }
    .btn-aside {
        display: none;
    }
    .playlist {
        display: none;
    }
    .instal span {
        display: none;
    }
    .instal {
        display: flex;
        justify-content: center;
        font-size: 11px;
        margin-bottom: 8px;
    }
    #site_footer {
        padding-right: 10px;
    }
    .player {
        color: var(--white);
        column-gap: 10px;
        font-size: .75rem;
        align-items: center;
    }
    .player .play i {
        font-size: 1.2rem;
        margin: 0 10px;
        transition: 0.5s;
    }
    .time input {
        width: 150px;
        margin: 0 10px;
    }
    .right-menu input {
        width: 50px;
    }
    .right-menu>a:nth-child(1),
    .right-menu>a:nth-child(2) {
        display: none;
    }
}


/* @media screen and (max-width:380px) {} */


/* @media screen and (max-height: 400px) {} */