/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --secondary-white: #FBFBFB;
    --bg-main: #141922;
    --bg-footer: #282828;
    --account-grey: #808080;
    --dark-grey: #7D7F84;
    --mid-grey: #717171;
    --grey: #A3A3A3;
    --light-grey: #D2D2D2;
    --active-green: #ADFF2F;
}


/* #endregion common */


/* #region utility */

.d-flex {
    display: flex;
}

.m-b30 {
    margin-bottom: 30px;
}


/* #endregion utility */


/* #region main */

#site_main {
    background-color: var(--bg-main);
    width: 100%;
    height: calc(100vh - 90px);
}


/* #region aside */

.aside-left {
    background-color: var(--black);
    font-size: 0.81rem;
    width: 227px;
    height: 100%;
    padding: 20px;
    flex-direction: column;
    position: relative;
}

.aside-left h4 {
    color: var(--white);
    font-size: 0.813rem;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.aside-left span {
    color: var(--mid-grey);
    margin-left: 0.56rem;
    text-transform: capitalize;
}


/* #region left-nav */

#here>img {
    color: var(--light-grey);
}

#here>span {
    color: var(--secondary-white);
}

.aside-left>.logo>img {
    width: auto;
    height: 2.5rem;
}

.left-nav {
    flex-direction: column;
}

.left-nav img {
    width: auto;
    height: 1.375rem;
}

.left-nav a {
    margin-bottom: 0.81rem;
    align-items: center;
    text-decoration: none;
}


/* #endregion left-nav */


/* #region playlist */

.playlist {
    flex-direction: column;
    overflow: auto;
    text-transform: capitalize;
}

.playlist a {
    color: var(--mid-grey);
    text-decoration: none;
}

.playlist>.plus {
    align-items: center;
    margin-bottom: 23px;
}

.playlist .plus-false {
    margin: 0;
    background-color: var(--grey);
    color: black;
    font-size: 1.875rem;
    padding: 0px 10px;
}

.container-overflow {
    flex-direction: column;
}

.name-playlist {
    margin-bottom: 26px;
}


/* #endregion playlist */


/* #region user */

.user {
    align-self: stretch;
    margin-top: auto;
    padding-bottom: 7px;
}

.user hr {
    margin: 12px 0 14px
}

.user .instal a>i {
    color: var(--mid-grey);
    border: 1px solid var(--mid-grey);
    border-radius: 50%;
    padding: 3px 3px 1px
}

.account {
    align-items: center;
}

#account-name {
    font-size: 0.875rem;
    color: var(--white);
}

.account img {
    height: 25px;
    width: 25px;
    background-color: var(--account-grey);
    border-radius: 50%;
}


/* #endregion user */


/* #endregion aside */


/* #region container */

.container {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.container a {
    color: var(--dark-grey);
}

.nav-content {
    margin-bottom: 39px;
    justify-content: center;
    column-gap: 24px;
    text-transform: uppercase;
}

.nav-content>a.d-flex {
    flex-direction: column;
}

.hr-active {
    border-color: var(--active-green);
    width: 30px;
    height: 2px;
    align-self: center;
    margin-top: 6px;
}

.container>section {
    padding: 0 22px;
    margin-bottom: 39px;
}

.recently h2 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.cards {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 15px;
}

.card {
    width: calc(100% / 6 - 15px);
    flex-direction: column;
    align-items: center;
}

.card img {
    margin-bottom: 23px;
}

.card>h4 {
    color: var(--white);
    font-size: 1.063rem;
    font-weight: 700;
    margin-bottom: 13px;
    text-align: center;
}

.card>span {
    color: var(--dark-grey);
    font-size: 0.813rem;
}

.for-you>.cards {
    justify-content: flex-start;
}

.for-you h2 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 13px;
}

.for-you .description {
    color: var(--dark-grey);
    font-size: 0.813rem;
    font-weight: 500;
    margin-bottom: 30px;
}


/* #endregion container */


/* #region upgrade */

.upgrade {
    width: 100%;
    height: 93px;
    background-color: rgba(00, 00, 00, 0.3);
    padding: 10px;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 23px;
}

.upgrade>a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--white);
    border-radius: 25px;
    padding: 10px 45px;
    font-size: 0.813rem;
    font-weight: 500;
}


/* #endregion upgrade */


/* #endregion main */


/* #region footer */

#site_footer {
    background-color: var(--bg-footer);
    width: 100%;
    height: 90px;
    position: fixed;
    left: 0;
    bottom: 0;
}


/* #endregion footer */


/* #region -- */


/* #endregion -- */